<div>
  <header class="hero text-white text-center py-5 header-container">
    <div class="container">
      <h1 class="display-3">Welcome to Kittyp!</h1>
      <p class="lead">Premium Cat Litter for Your Feline Friend</p>
      <!-- <a href="https://www.amazon.com/" target="_blank" class="btn btn-info btn-lg">Shop Now</a> -->
    </div>
  </header>
  <!-- <div>
        <app-product-list></app-product-list>
    </div> -->
  <div class="d-flex justify-content-center align-items-center text-box-head">
    <div>
      <div class=" text-box text-box-1">
        <div  class="d-flex justify-content-center align-items-center image">
          <i class="fa fa-fire fa-5x" aria-hidden="true"></i>
        </div>
        <h4>Outstanding Odor Control:</h4>
        <p>
           Enjoy a fresh-smelling home as our litter traps and locks in odors, ensuring your living space remains pleasant and odor-free.
        </p>
      </div>
      <div class="text-box text-box-2">
        <div  class="d-flex justify-content-center align-items-center image">
          <i class="fa fa-fire fa-5x" aria-hidden="true"></i>
        </div>
        <h4>Quick Clumping & Easy Scooping:</h4>
        <p>
           Our naturally-absorbent corn litter forms firm clumps, making waste removal a breeze without the need for strenuous scraping or chiseling.
        </p>
      </div>
        
      </div>
    <div>
      <div class="text-box text-box-3">
        <div  class="d-flex justify-content-center align-items-center image">
          <i class="fa fa-fire fa-5x" aria-hidden="true"></i>
        </div>
        <div>
          <h4>99% Dust Free:</h4>
          <p>
             Say goodbye to dusty litter. Our corn-based formula is free from silica dust, providing a clean and safe environment for both you and your cat.
          </p>
        </div>
      </div>
      <div class="text-box text-box-4">
        <div  class="d-flex justify-content-center align-items-center image">
          <i class="fa fa-fire fa-5x" aria-hidden="true"></i>
        </div>
        <div>
          <p>
            Pet, People & Planet Friendly: Made from sustainable corn and free from added chemicals, our litter is a responsible choice that promotes the well-being of your pet, your family, and the environment.
          </p>
        </div>
       </div>
    </div>
    <div>
      <div class="text-box text-box-5">
        <div  class="d-flex justify-content-center align-items-center image">
          <i class="fa fa-fire fa-5x" aria-hidden="true"></i>
        </div>
        <div>
          <p>
            Lightweight: Experience the convenience of our lightweight litter. It delivers exceptional performance without the heavy weight, giving your back a much-needed break.
          </p>
        </div>
        </div>
      <div class="text-box text-box-6">
        <div  class="d-flex justify-content-center align-items-center box-image">
          <i class="fa fa-fire fa-5x" aria-hidden="true"></i>
        </div>
        <div>
          <p>
            Flushable* & Septic Safe: Tested and proven to be flushable* and safe for septic and sewer systems, our litter saves you the hassle of frequent trips to the trash bin.
          </p>
        </div>
       </div>
    </div>
  </div>
</div>