<div>
  <header class="d-flex hero text-white text-center py-5 header-container">
    <div class="container d-flex flex-column justify-content-center header-subcontainer">
      <h1 class="display-3 d-flex">Welcome to Kittyp!</h1>
      <p class="lead d-flex">Premium Cat Litter for Your Feline Friend</p>
      <!-- <a href="https://www.amazon.com/" target="_blank" class="btn btn-info btn-lg">Shop Now</a> -->
    </div>
  </header>
  <!-- <div>
        <app-product-list></app-product-list>
    </div> -->

  <div class="container">
    <h2 class="container-header experties">Our Experties :</h2>
    <div class="row text-box-head">
      <div class="col-md-4 ">
        <div class="text-box text-box-1">
          <i class="fa fa-envira fa-5x" aria-hidden="true"></i>
          <h4>Outstanding Odor Control:</h4>
          <p>
            Enjoy a fresh-smelling home as our litter traps and locks in odors, ensuring your living space remains
            pleasant and odor-free.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-box text-box-2">
          <i class="fa fa-soundcloud fa-5x" aria-hidden="true"></i>
          <h4>Quick Clumping & Easy Scooping:</h4>
        <p>
          Our naturally-absorbent corn litter forms firm clumps, making waste removal a breeze without the need for
          strenuous scraping or chiseling.
        </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-box text-box-3">
          <i class="fa fa-fire fa-5x" aria-hidden="true"></i>
          <h4>99% Dust Free:</h4>
          <p>
            Say goodbye to dusty litter. Our corn-based formula is free from silica dust, providing a clean and safe
            environment for both you and your cat.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="text-box text-box-4">
          <i class="fa fa-forumbee fa-5x" aria-hidden="true"></i>
          <h4>Pet, People & Planet Friendly:</h4>
          <p>
             Made from sustainable corn and free from added chemicals, our litter is a
            responsible choice that promotes the well-being of your pet, your family, and the environment.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-box text-box-5">
          <i class="fa fa-paperclip fa-5x" aria-hidden="true"></i>
          <h4> Lightweight:</h4>
          <p>
            Experience the convenience of our lightweight litter. It delivers exceptional performance
            without the heavy weight, giving your back a much-needed break.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-box text-box-6">
          <i class="fa fa-anchor fa-5x" aria-hidden="true"></i>
          <h4>Flushable* & Septic Safe:</h4>
          <p>
             Tested and proven to be flushable* and safe for septic and sewer systems, our
            litter saves you the hassle of frequent trips to the trash bin.
          </p>
        </div>
      </div>
    </div>
    
  </div>
  <div class="container">
    <h2 class="container-header">How to use:</h2>
    <div class="row steps-box-head">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text  text-truncate">With dfdfdf dfdfdf dfdfdf dfdf Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error velit aut harum quod magni similique nostrum facere rerum quasi doloremque dolorem distinctio minima voluptates exercitationem modi soluta iste, quam laudantium.supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    69*-
    <h2 class="container-header">Our Experties :</h2>
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>

  </div>
  
</div>