
  <div class="container">
    
    <div class="row mt-3">
      <div class="col-md-6">
        <h1 class="text my-4">Contact Us</h1>
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" required>
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" rows="5" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send Message</button>
        </form>
      </div>
      
      <div class="col-md-6">
        <h1 class="text my-4">Follow us on social media:</h1> 
        <div class="social-media">
          <i class="fa-brands fa-square-instagram"></i>
          <a href="https://www.facebook.com" class="fa fa-facebook" target="_blank"></a>
          <a href="https://www.twitter.com" class="fa fa-twitter" target="_blank"></a>
          <a [href]="linkedInLink" class="fa fa-linkedin" target="_blank"></a>
          <a [href]="instagramLink" class="fa-brands fa-square-instagram" target="_blank"></a>
          <a href="https://www.pinterest.com" class="fa fa-pinterest" target="_blank"></a>
          <a [href]="gmailLink" class="fa fa-google" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>

