<!-- Navbar -->
<div>
  <!--
    #79f9b1f3
  -->
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark header">
            <div class="container">
              <!-- <img src="../assets/logo-kittyp.png" class="logo-kittyp"> -->
              <a class="navbar-brand" href="#"><img src="../assets/logo-kittyp.png" class="logo-kittyp"></a>
              <div class=" justify-content-end">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link px-3" routerLink="/product-list" routerLinkActive="active"><h4 class="nav-text">Products</h4></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-3" href="#"><h4 class="nav-text">About</h4></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-3" routerLink="/contacts" routerLinkActive="active"><h4 class="nav-text">Contacts</h4></a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>
    <div class="routing-div">
      
        <router-outlet></router-outlet>
    </div>
    <div *ngIf="!hideFooter">
        <footer class="footer">
            <div class="container">
              <div class="row">
                <div class="col-md-4 text-center text-md-start">
                  <p>&copy; 2023 Kittyp. All rights reserved.</p>
                </div> 
                <div class="col-md-4 text-center text-md-center">
                  <div class="social-media">
                    <a href="https://www.facebook.com" class="fa fa-facebook" target="_blank"></a>
                    <a href="https://www.twitter.com" class="fa fa-twitter" target="_blank"></a>
                    <a [href]="contactsComponent.linkedInLink" class="fa fa-linkedin" target="_blank"></a>
                    <a [href]="contactsComponent.instagramLink" class="fa fa-instagram" target="_blank"></a>
                    <a href="https://www.pinterest.com" class="fa fa-pinterest" target="_blank"></a>
                    <a [href]="contactsComponent.gmailLink" class="fa fa-google" target="_blank"></a>
                  </div>
                </div>
                
                <div class="col-md-4 text-center text-md-end">
                  <p>
                    <a href="#" class="footer-text">Privacy Policy</a> |
                    <a href="#"  class="footer-text">Terms of Service</a> |
                    <a  class="footer-text" routerLink="/contacts" routerLinkActive="active">Contact</a>
                  </p>
                </div>
              </div>
            </div>
          </footer>
    </div>
</div>